
body {
    font-family: "Lato", sans-serif;
    background-color: #111;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /* ---------seaech input----------- */

  #form{
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .search11{
    background-color: transparent;
    width: 30%;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    margin: 2rem;
  }
  .search11 :hover{
    border: 2px solid;
  }
  .search22 {
    background-color: transparent;
    width: 30%;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    margin: 2rem;
  }
  .search22 :hover{
    border: 2px solid;
  }

  /* ---------movie info--------- */

  .movie{
    width: 300px;
    margin: 1rem;
    box-shadow: 02px 4px 5px rgpa(0,0,0,0,.1);
    position: relative;
    overflow: hidden;
  }
  #main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 .movie img{
  width: 100%;
 }
 .movie-info{
  color: white;
  text-align: center;
  padding: 00.5rem;
  background-color:rgba(255, 255,255, .3) ;
  color: #111;
  position: absolute;
    width: 100%;
    bottom:0;
    left:0;
    top: 0;
   overflow: hidden;
   display: none;
   
   
 }

 .movie:hover .movie-info {
   display: block;  
 }
 /* ----------contact us----------- */
 h1{
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
}
.form{
    padding: 1rem;
    display: flex;
    justify-content: center;
   
    width:100%;
    flex-wrap: wrap;
}

.inp{
  background-color: transparent;
  width: 40%;
  text-align: center;
  padding: 0.5rem .5rem;
  font-size: 1rem;
  color: white;
  margin: .5rem;
  
}
.btn
{
  background-color: transparent;
    padding: 14px 30px;
    font-weight: 700;
    border-radius: 5px;
    border-color: red;
    font-size: 14px;
    cursor: pointer;
    color: red;
   
    
}
.b{
  display: flex;
  justify-content: center;
 
}


